In [13]:

import pandas as pd

In [15]:
# reading two csv files
data1 = pd.read_csv('final_ufo_data.csv')
data2 = pd.read_csv('clean_NUFORC (1).csv')
  
# using merge function by setting how='inner'
# complete_df = pd.merge(data1, data2, 
#                    on='LOAN_NO', 
#                    how='inner')
data1

,datetime,city,state,country,shape,duration (seconds),latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111
1,10/10/1956 21:00,edna,tx,us,circle,20.0,28.978333,-96.645833
2,10/10/1960 20:00,kaneohe,hi,us,light,900.0,21.418056,-157.803611
3,10/10/1961 19:00,bristol,tn,us,sphere,300.0,36.595000,-82.188889
4,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,41.117500,-73.408333
...,...,...,...,...,...,...,...,...
62814,9/9/2013 22:00,napa,ca,us,other,1200.0,38.297222,-122.284444
62815,9/9/2013 22:20,vienna,va,us,circle,5.0,38.901111,-77.265556
62816,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,35.652778,-97.477778
62817,9/9/2013 23:00,starr,sc,us,diamond,0.0,34.376944,-82.695833
62818,9/9/2013 23:30,ft. lauderdale,fl,us,oval,0.0,26.121944,-80.143611

In [16]:
data2
data2["city"]= data2["city"].str.lower()
data2["state"]= data2["state"].str.lower()
data2

,city,state,date_time,shape,stats,report_link,city_latitude,city_longitude
0,visalia,ca,2021-12-15T21:45:00,light,Occurred : 12/15/2021 21:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165881.html,36.356650,-119.347937
1,cincinnati,oh,2021-12-16T09:45:00,triangle,Occurred : 12/16/2021 09:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165888.html,39.174503,-84.481363
2,knoxville,tn,2021-12-10T19:30:00,triangle,Occurred : 12/10/2021 19:30 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165825.html,35.961561,-83.980115
3,alexandria,va,2021-12-07T08:00:00,circle,Occurred : 12/7/2021 08:00 (Entered as : 12/0...,http://www.nuforc.org/webreports/165/S165754.html,38.798958,-77.095133
4,fullerton,ca,2020-07-07T23:00:00,unknown,Occurred : 7/7/2020 23:00 (Entered as : 07/07...,http://www.nuforc.org/webreports/157/S157444.html,33.877422,-117.924978
...,...,...,...,...,...,...,...,...
103655,kennewick,wa,2021-02-28T08:20:00,triangle,Occurred : 2/28/2021 08:20 (Entered as : 02/2...,http://www.nuforc.org/webreports/162/S162246.html,46.178823,-119.162978
103656,kissimmee,fl,2021-04-12T10:20:00,cylinder,Occurred : 4/12/2021 10:20 (Entered as : 04/1...,http://www.nuforc.org/webreports/162/S162692.html,28.255035,-81.429492
103657,denver,co,2021-03-01T00:15:00,light,Occurred : 3/1/2021 00:15 (Entered as : 03/01...,http://www.nuforc.org/webreports/162/S162305.html,39.745126,-104.959346
103658,mojave,ca,2021-03-15T21:00:00,flash,Occurred : 3/15/2021 21:00 (Entered as : 3/15...,http://www.nuforc.org/webreports/162/S162474.html,35.097900,-118.130200
103659,peterborough,nh,2021-03-25T20:05:00,oval,Occurred : 3/25/2021 20:05 (Entered as : 03/2...,http://www.nuforc.org/webreports/162/S162507.html,42.866500,-71.960500

In [17]:
# using merge function by setting how='inner'
complete_df = pd.merge(data1, data2, 
                   on='city', 
                   how='inner')
complete_df

,datetime,city,state_x,country,shape_x,duration (seconds),latitude,longitude,state_y,date_time,shape_y,stats,report_link,city_latitude,city_longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111,tx,2020-04-26T23:45:00,triangle,Occurred : 4/26/2020 23:45 (Entered as : 04/2...,http://www.nuforc.org/webreports/156/S156299.html,29.873061,-98.012874
1,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111,ca,2019-02-24T17:36:00,other,Occurred : 2/24/2019 17:36 (Entered as : 2/24...,http://www.nuforc.org/webreports/154/S154036.html,33.135318,-117.166339
2,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111,ca,1998-08-12T21:09:00,oval,Occurred : 8/12/1998 21:09 (Entered as : 08/1...,http://www.nuforc.org/webreports/004/S04593.html,33.135318,-117.166339
3,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111,ca,1999-01-18T02:00:00,light,Occurred : 1/18/1999 02:00 (Entered as : 01/1...,http://www.nuforc.org/webreports/005/S05363.html,33.135318,-117.166339
4,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,29.883056,-97.941111,tx,1996-06-01T17:00:00,oval,Occurred : 6/1/1996 17:00 (Entered as : 6-96 ...,http://www.nuforc.org/webreports/014/S14903.html,29.873061,-98.012874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5544038,9/9/2001 13:02,pepperell,ma,us,sphere,3.0,42.665833,-71.588889,ma,2021-09-04T00:00:00,sphere,Occurred : 9/4/2021 00:00 (Entered as : 9/4/2...,http://www.nuforc.org/webreports/164/S164513.html,42.665500,-71.595200
5544039,9/9/2002 09:30,mehoopany,pa,us,chevron,900.0,41.563333,-76.060833,pa,2002-09-09T09:30:00,chevron,Occurred : 9/9/2002 09:30 (Entered as : 09/09...,http://www.nuforc.org/webreports/024/S24962.html,41.524700,-76.145800
5544040,9/9/2009 20:45,mountain,wi,us,light,120.0,45.184722,-88.473611,wi,2007-06-15T14:00:00,disk,Occurred : 6/15/2007 14:00 (Entered as : 06/0...,http://www.nuforc.org/webreports/060/S60126.html,45.203600,-88.536400
5544041,9/9/2009 20:45,mountain,wi,us,light,120.0,45.184722,-88.473611,wi,2009-09-09T20:45:00,light,Occurred : 9/9/2009 20:45 (Entered as : 9/09/...,http://www.nuforc.org/webreports/072/S72217.html,45.203600,-88.536400
5544042,9/9/2011 10:20,double springs,al,us,sphere,3600.0,34.146389,-87.402222,al,2011-09-09T10:20:00,sphere,Occurred : 9/9/2011 10:20 (Entered as : 09/09...,http://www.nuforc.org/webreports/083/S83817.html,34.127000,-87.394500

In [20]:
complete_df= complete_df.sample(100000)

In [21]:
complete_df.to_csv("Complete_UFO_data.csv",index=False, header=True)